.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.npc-container {
  width: auto;
  margin: auto;
}

/* .npc-list {
float: left;
width: 50%;
} */

.npc-full-card {
  width: 80%;
  margin: auto;
}

#randomButton {
  font-size: 16px;
  height: 25%;
  width: 25%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: gold;
  background-color: black;
  border: solid;
  border-radius: 20px;
  box-shadow: 0 10px #999;
}

#randomButton:hover {background-color: red}

#randomButton:active {
  background-color: gold;
  color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#randomButtonImage {
  text-align: center;
  height: 25%;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}

.statContainer {
  display: flex;
  margin: auto;
  justify-content: center;
}

.strContainer {
  position: relative;
  text-align: center;
  max-height: 15%;
  max-width: 15%;
}

.strImage {
  position: relative;
  text-align: center;
  max-height: 150px;
  max-width: 150px;
}

.strStat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dexContainer {
  position: relative;
  text-align: center;
  max-height: 15%;
  max-width: 15%;
}

.dexImage {
  position: relative;
  text-align: center;
  max-height: 150px;
  max-width: 150px;
}

.dexStat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conContainer {
  position: relative;
  text-align: center;
  max-height: 15%;
  max-width: 15%;
}

.conImage {
  position: relative;
  text-align: center;
  max-height: 150px;
  max-width: 150px;
}

.conStat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intContainer {
  position: relative;
  text-align: center;
  max-height: 15%;
  max-width: 15%;
}

.intImage {
  position: relative;
  text-align: center;
  max-height: 150px;
  max-width: 150px;
}

.intStat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wisContainer {
  position: relative;
  text-align: center;
  max-height: 15%;
  max-width: 15%;
}

.wisImage {
  position: relative;
  text-align: center;
  max-height: 150px;
  max-width: 150px;
}

.wisStat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chaContainer {
  position: relative;
  text-align: center;
  max-height: 15%;
  max-width: 15%;
}

.chaImage {
  position: relative;
  text-align: center;
  max-height: 150px;
  max-width: 150px;
}

.chaStat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.armorContainer {
  margin: auto;
  position: relative;
  text-align: center;
  max-height: 12%;
  max-width: 15%;
}

.armorImage {
  position: relative;
  text-align: center;
  max-height: 80px;
  max-width: 80px;
}

.armorStat {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
